{% include "navbar.html" with active_tab='contact_us' %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <legend>Contact us</legend>
    <br>
    <form method="post">{% csrf_token %}
        <input type="text" placeholder="title" name="title" required><br>
        <input type="text" placeholder="your comments..." name="text" minlength=10 maxlength=250 required><br>
        <input type="email" placeholder="email" name="email" required>
        <button type="submit">send</button>
    </form>
</body>

</html>