{% include "navbar.html" with active_tab='edit_profile' %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <legend>Edit profile</legend>
    <br>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
    </form>
</body>

</html>