{% include "navbar.html" with active_tab='list_vaheds' %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <br><br>
    {% for item in vaheds %}
     <tr>
        <td>{{ item.get_string_fields }}</td><br>
     </tr>
    {% endfor %}
</body>

</html>