{% include "navbar.html" with active_tab='login' %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <legend>Login</legend>
    <br>
    <form method="post">{% csrf_token %}
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
    </form>
</body>

</html>