{% include "navbar.html" with active_tab='logout' %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <legend>Logout</legend>
    <br>
    <form method="post">{% csrf_token %}

        <button type="submit">Logout</button>
    </form>
</body>

</html>