<!DOCTYPE html>
<html>
<head>
  <style>
    ul.tab-menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: right;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: #111;
    }
    
    .active {
      background-color: #04AA6D;
    }
    </style>
</head>
<body>
  <ul class="tab-menu">
    <li class="{% if active_tab == 'home' %}active{% endif %}"><a href="{%url 'index' %}">صفحه اصلی</a></li>
    <li class="{% if active_tab == 'contact_us' %}active{% endif %}"><a href="{%url 'contact_us' %}">تماس با ما</a></li>
    {% if request.user.is_authenticated %}
    <li class="{% if active_tab == 'profile' %}active{% endif %}"><a href="{% url 'profile' %}">پروفایل</a></li>
    <li class="{% if active_tab == 'panel' %}active{% endif %}"><a href="{% url 'panel' %}">پنل</a></li>
    <li class="{% if active_tab == 'logout' %}active{% endif %}"><a href="{%url 'logout' %}">خروج</a></li>
    {% else %}
    <li class="{% if active_tab == 'register' %}active{% endif %}"><a href="{%url 'register' %}">ثبت نام</a></li>
    <li class="{% if active_tab == 'login' %}active{% endif %}"><a href="{%url 'login' %}">ورود</a></li>
    {% endif %}
</ul>
</body>
</html>