{% include "navbar.html" with active_tab='panel' %}
<!DOCTYPE html>
<html>
<body>

    {% if request.user.is_superuser %} 
    <a href="{%url 'vahed' %}">make vahed</a>
    <br>
    {% endif %}
    <a href="{%url 'list_vaheds' %}">all vaheds</a>

</body>
</html>