{% include "navbar.html" with active_tab='profile' %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <p>first name: {{ user.first_name }}</p>
    <br>
    <p>last name: {{ user.last_name }}</p>
    <br>
    <p>username: {{ user.username }}</p>
    <br>
    <p>gender: {{ user.gender }}</p>
    <br>
    <p>bio:</p>
    {{ user.bio|safe }}
    <br>
    {% if user.image %}
    <img src="..{{ user.image.url }}" class="img-responsive" style="width: 200px" />
    <br>
    {% endif %}
    <a href="{%url 'edit_profile' %}">edit profile</a>
    <br>
</body>

</html>