{% include "navbar.html" with active_tab='register' %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <legend>Register</legend>
    <br>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
</body>

</html>