{% include "navbar.html" with active_tab='vahed' %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <legend>Make vahed</legend>
    <br>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        {% comment %} <select name="form.first_day" id="form.first_day">
            <option value="0">شنبه</option>
            <option value="1">یکشنبه</option>
            <option value="2">دوشنبه</option>
            <option value="3">سه شنبه</option>
            <option value="4">چهارشنبه</option>
          </select>
          <select name="second_day" id="second_day">
            <option value="0">شنبه</option>
            <option value="1">یکشنبه</option>
            <option value="2">دوشنبه</option>
            <option value="3">سه شنبه</option>
            <option value="4">چهارشنبه</option>
          </select> {% endcomment %}
        <button type="submit">Sybmit</button>
    </form>
</body>

</html>