<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
</head>
<body>
    
    <ul class="tab-menu">
        <li style="float:right" class="{% if active_tab == 'A' %}active{% endif %}"><a href="#">A</a></li>
        <li style="float:right" class="{% if active_tab == 'B' %}active{% endif %}"><a href="#">B</a></li>
        <li style="float:right" class="{% if active_tab == 'C' %}active{% endif %}"><a href="#">C</a></li>
    </ul>
</body>
</html>